logs/
cache/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
build/
!build/
build/*
!build/cool/
build/cool/*
!build/cool/eps.json
!build/cool/eps.d.ts
.DS_Store
launch.json
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
data/*
**/pnpm-lock.yaml
!/pnpm-lock.yaml
public/uploads/*
./claude
